<% if(variable==="weekend" ){ %>
      <h1>Hey It's <span style="color: aqua; font-size: 2em;">weekend</span> no workout today</h1>
<% }else{ %>
        <h1>It's <span style="color: red; font-size: 2em;">weekday</span>I have to workout today</h1>
<% } %>